services:
  caddy:
    image: caddy:alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    depends_on:
      - landing
    networks:
      - app-network

  landing:
    image: ${ECR_REPOSITORY_URI}
    container_name: rennan-tech-landing
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
